* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

body {
    background-color: #383838;

}

nav {
    border-bottom: solid #cfb48d;
}

.nav-text-color {
    color: #cfb48d;
}

.nav-text-color:hover {
    color: #cfb48d;
}

.btn1 {
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: #cfb48d;
    color: black;
    border-radius: 30px;
    font-weight: bold;
    border: 1px solid transparent;

}

.btn1:hover {
    background-color: #2b2b2b;
    color: #cfb48d;
    border: 1px solid;
}

.custom-link-style {
    color: #9d9d9d;
}

.custom-link-style:hover {
    color: #9d9d9d;
}

.login-modal {
    background-color: #2b2b2b;;
    color: #cfb48d;
    border-radius: 30px;
}

input[type=checkbox] {
    margin-bottom: 2%;
    display: inline-block;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card {
    margin: 0 !important;
}

footer {
    background-color: #2b2b2b;
    padding: 8px;

}

.footer2 {
    color: #cfb48d;
    margin: auto;
    width: fit-content;
    font-size: 13px;
}

.explore-type-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 4px;
}

.btn-explore {
    background-color: inherit;
    border: none;
    color: #cfb48d;
    margin: 0 20px;
    outline: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;

}

.btn-explore:focus {
    background-color: rgba(207, 180, 141, 0.1);
    color: #cfb48d;
    border: none;
    outline: none;
}

.container-card {
    display: flex;
    justify-content: center;


}

.card1 {
    width: 50%;
    background-color: #2b2b2b;
    margin: 5% 0;
    border-radius: 30px;
    color: #cfb48d;
}

.card-center {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.center-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    background-color: #2b2b2b;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 3%;
    justify-content: space-between;
}

.search-bar {
    background-color: #2b2b2b;
    outline: none;
    border: none;
    margin-left: 20px;
    font-size: 20px;
    color: white;
}

.welcome {
    display: flex;
    justify-content: space-between;
    margin: 8% 5% 5%;
}

.welcome-img {
    height: 30rem;
    margin-left: 100px;
    margin-top: 10px;
}

.welcome-text {
    color: #cfb48d;
    font-size: 20px;
}

hr {
    color: #cfb48d;
}

.welcome-button {
    background-color: inherit;
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: rgba(207, 180, 141, 0.1);
    color: #cfb48d;
    border-radius: 30px;
    margin-right: 8px;
}

input[type="date"] {
    color: #6C757D;
}

.explore-card {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
